body{
	margin: 0px ;
	font-family: 'Nanum Pen Script', cursive;
	background:  url(img/pizza.jpg) no-repeat;
	background-size: 100% 100%;
	color: white; 	
}

.container{	
	background-color:  rgba(255, 255, 255, 0.7);
	min-height: 100vh;
} 

 

header{
	background-color: rgba(0, 0, 0, 0.6);
	height: 50px;
	font-size: 25px;

}
ul{
	list-style-type: none;
	margin: 0;
	padding-left: 0;

	
}
ul li{
	padding-right: 100px;
	margin-left: 4px;
	margin-top: 4px;
	display: inline-block;

	

}
ul li a{
	text-decoration: none;
	color: white;	
	font-size: 40px;
	transition: 1s linear;
	transition-property: color;
}
ul li a:hover{
	color: #1BC2BA;
}




