/*table{
	width: 800px;
	height: 400px;
	padding-top:55px; 
	color: black;
	font-size: 20px;	
	margin: 0 auto;

}
td{
	width: 225px;
}*/
p{
	margin-top: 25px;
	color: black;
	font-size: 20px;
}
img{
	width: 230px;
	height: 230px;
}


.item-container {
	display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto 0;
}

.item-container .item {
	flex: 1 1 50%;
	display: flex;
	margin-bottom: 25px;
	
}